{require_otp_vsn, "21"}.

{erl_opts, [debug_info, warn_untyped_record, nowarn_export_all]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{escript_emu_args, "%%! -escript main cuttlefish_escript +A 0\n"}.
{escript_incl_apps, [getopt]}.

{deps, [{getopt, {git, "https://github.com/emqx/getopt.git", {tag, "v1.0.2"}}}]}.

{profiles, [{test, [{deps, [{bbmustache, {git, "https://github.com/soranoba/bbmustache.git", {branch, "master"}}}]}]}]}.

{provider_hooks, [
    {pre, [{compile, {neotoma, compile}}]},
    {post, [{compile, escriptize}]}
]}.
{post_hooks, [{escriptize, "cp _build/default/bin/cuttlefish ./"}]}.
{artifacts, ["{{base_dir}}/../cuttlefish"]}.
{plugins, [rebar3_neotoma_plugin]}.
